
body{
    background-image: url("assets/main.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    background-size: cover;
}


h1{
    color: white;
    font-size: 100px;
    text-align: center;
    width: 150vmin;
    position: relative;
    
}
/* #leaderBoard_win{
    width: 200px;
    height: 70px;
    color: black;
    font-size: 26px;
    font-weight: 800;
    background-color: rgb(255, 213, 26);
    align-items: center;
    border-radius: 15px;
    margin: 10% 40%;
    cursor: pointer;
    border: none;
}

#leaderBoard_fail {
    width: 200px;
    height: 70px;
    color: black;
    font-size: 26px;
    font-weight: 800;
    background-color: rgb(255, 213, 26);
    align-items: center;
    border-radius: 15px;
    margin: 10% 40%;
    cursor: pointer;
    border: none;
} */
span{
    margin-top: -50px;
}

.sad{
    margin: -80px 25px;
    width: 400px;
    height: 400px;
    position:absolute;
}

.happy{
    position: absolute;
    width: 400px;
    height: 400px;
    margin: 10px 50px 0px 20px;

}

#restart{
    padding-left: 30%;
    cursor: pointer;
    position: absolute;
    margin-top: -65px;
    width: 180px;
    height: 180px;

}

#restart_sad{
    padding-left: 30%;
    cursor: pointer;
    position: absolute;
    margin-top:-65px;
    width: 180px;
    height: 180px;
}

@media (max-width:500px){
    body{
        background-size: cover;
        width: 100%;
        height: 100%;
    }
    h1 {
        font-size:30px;
        width: 50%;
        height: auto;
    }
    .happy{
        width: 30vmax;
        height: 30vmax;
        margin: 0.5% 20% 5% 15%;
    }
    
    #restart{
        width: 10vmax;
        height: 10vmax;
        margin: 1% 100% 1% 1%;
        padding-left: 20%;
    }
    #restart_sad{
        width: 10vmax;
        height: 10vmax;
        margin: 1% 100% 5% 1%;
        
        
    }
    .sad{
        width: 30vmin;
        height: 30vmin;
        margin: auto;
        margin: -20% 0% 0% 20%;
    }
}